(
  axes: {
    "p1kb_move_y": Emulated(pos: Key(W), neg: Key(S)),
    "p1kb_move_x": Emulated(neg: Key(A), pos: Key(D)),
    "p1kb_aim_x": Emulated(pos: Key(Left), neg: Key(Right)),
    "p1kb_aim_y": Emulated(pos: Key(Up), neg: Key(Down)),
    "p1_move_x": Controller(controller_id: 0, axis: LeftX, invert: false, dead_zone: 0.1),
    "p2_move_x": Controller(controller_id: 1, axis: LeftX, invert: false, dead_zone: 0.1),
    "p3_move_x": Controller(controller_id: 2, axis: LeftX, invert: false, dead_zone: 0.1),
    "p4_move_x": Controller(controller_id: 3, axis: LeftX, invert: false, dead_zone: 0.1),
    "p1_move_y": Controller(controller_id: 0, axis: LeftY, invert: true, dead_zone: 0.1),
    "p2_move_y": Controller(controller_id: 1, axis: LeftY, invert: true, dead_zone: 0.1),
    "p3_move_y": Controller(controller_id: 2, axis: LeftY, invert: true, dead_zone: 0.1),
    "p4_move_y": Controller(controller_id: 3, axis: LeftY, invert: true, dead_zone: 0.1),
    "p1_aim_x": Controller(controller_id: 0, axis: RightX, invert: false, dead_zone: 0.1),
    "p2_aim_x": Controller(controller_id: 1, axis: RightX, invert: false, dead_zone: 0.1),
    "p3_aim_x": Controller(controller_id: 2, axis: RightX, invert: false, dead_zone: 0.1),
    "p4_aim_x": Controller(controller_id: 3, axis: RightX, invert: false, dead_zone: 0.1),
    "p1_aim_y": Controller(controller_id: 0, axis: RightY, invert: true, dead_zone: 0.1),
    "p2_aim_y": Controller(controller_id: 1, axis: RightY, invert: true, dead_zone: 0.1),
    "p3_aim_y": Controller(controller_id: 2, axis: RightY, invert: true, dead_zone: 0.1),
    "p4_aim_y": Controller(controller_id: 3, axis: RightY, invert: true, dead_zone: 0.1),
    "p1_fire": Controller(controller_id: 0, axis: RightTrigger, invert: false, dead_zone: 0.1),
    "p2_fire": Controller(controller_id: 1, axis: RightTrigger, invert: false, dead_zone: 0.1),
    "p3_fire": Controller(controller_id: 2, axis: RightTrigger, invert: false, dead_zone: 0.1),
    "p4_fire": Controller(controller_id: 3, axis: RightTrigger, invert: false, dead_zone: 0.1),
    
  },
  actions: {
    "p1_aim_weapon_state": [[Controller(0, RightShoulder)]],
    "p2_aim_weapon_state": [[Controller(1, RightShoulder)]],
    "p3_aim_weapon_state": [[Controller(2, RightShoulder)]],
    "p4_aim_weapon_state": [[Controller(3, RightShoulder)]],
    "p1_aim_shield_state": [[Controller(0, LeftShoulder)]],
    "p2_aim_shield_state": [[Controller(1, LeftShoulder)]],
    "p3_aim_shield_state": [[Controller(2, LeftShoulder)]],
    "p4_aim_shield_state": [[Controller(3, LeftShoulder)]],
    "p1_adjust_shield_system": [[Key(F)], [Controller(0, DPadLeft)]],
    "p1_adjust_thrust_system": [[Key(T)], [Controller(0, DPadUp)]],
    "p1_adjust_weapon_system": [[Key(H)], [Controller(0, DPadRight)]],
    "p1_adjust_reset_system": [[Key(G)], [Controller(0, DPadDown)]],
    "p2_adjust_shield_system": [[Controller(1, DPadLeft)]],
    "p2_adjust_thrust_system": [[Controller(1, DPadUp)]],
    "p2_adjust_weapon_system": [[Controller(1, DPadRight)]],
    "p2_adjust_reset_system": [[Controller(1, DPadDown)]],
    "p3_adjust_shield_system": [[Controller(2, DPadLeft)]],
    "p3_adjust_thrust_system": [[Controller(2, DPadUp)]],
    "p3_adjust_weapon_system": [[Controller(2, DPadRight)]],
    "p3_adjust_reset_system": [[Controller(2, DPadDown)]],
    "p4_adjust_shield_system": [[Controller(3, DPadLeft)]],
    "p4_adjust_thrust_system": [[Controller(3, DPadUp)]],
    "p4_adjust_weapon_system": [[Controller(3, DPadRight)]],
    "p4_adjust_reset_system": [[Controller(3, DPadDown)]],
  },
)